<footer class="bg-white text-dark bg-light">
        <div class="container py-4">
          <div class="row py-5">
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Customer services</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">Help &amp; Contact Us</a></li>
                <li><a class="footer-link" href="#">Returns &amp; Refunds</a></li>
                <li><a class="footer-link" href="#">Online Stores</a></li>
                <li><a class="footer-link" href="https://www.termsfeed.com/public/uploads/2018/09/guardian-terms-conditions-use-intro-screenshot.jpg">Terms &amp; Conditions</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h6 class="text-uppercase mb-3">Social media</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">Twitter</a></li>
                <li><a class="footer-link" href="https://www.instagram.com/_iaashutosh02_/">Instagram</a></li>
                <li><a class="footer-link" href="https://www.facebook.com/hsharanstha">Facebook</a></li>
                <li><a class="footer-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Youtube</a></li>
              </ul>
            </div>
          </div>
          <div class="border-top pt-4" style="border-color: #158bda !important">
            <div class="row">
              <div class="col-lg-6">
                <p class="small text-muted mb-0">&copy; 2022 All rights reserved .</p>
              </div>
            </div>
          </div>
        </div>
      </footer>